
html{
    scroll-behavior: smooth;
}

.arrow{
    padding:10px;
    background-color: #9e8c8c;
    border-radius: 50%;
    font-size: 25px;
    color:#fdf7f7;
    position: fixed;
    bottom: 26px;
    right: 22px;
    transition:all 500ms;
    z-index: 1000;
    box-shadow: 0px 0px 9px 2px rgb(0 0 0 / 40%);
    opacity: 0;
    visibility: hidden;
    transition:all 500ms;


}
.arrow.show{
    opacity: 1;
    visibility: visible;
}
.arrow:hover{
    background-color: green;
    color:#fff;
}